<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>化学|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero chemistry">化学</h1>
    <!--メイン-->
    <main>
        <h1>化学おすすめ参考書</h1>
        <P>こんにちは。タイトルの通り化学のオススメ参考書を紹介します。本記事は数学と同様、ある程度(旧帝とか)以上を目指してる理系の人(そこそこできる人)向けなのでご容赦ください。化学やってるけど、なんかふわふわしてるんだよな～とか思ってる人には一番読んでもらいたいです。</P>
        <h2>化学　記述・論述問題の完全対策</h2>
        <p><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbooksdream%2F1-240001047429%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbooksdream%2Fi%2F10164892%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/booksdream/cabinet/racoon_241/4796117261.jpg?_ex=128x128" alt="" style="border: none;" /><br>化学記述・論述問題の完全対策 増補改訂版 (駿台受験シリーズ)</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></p>
        <p>記述問題と聞いて読むのをやめようと思った方、ちょっと待ってください。この本は化学の理解を深める参考書です。例えば、SO2の水溶液がなぜ酸性を示すか説明できますか？同素体と同位体の違いって説明できますか？こういう化学ができる人にとっては当たり前だけど、多くの人が勘違いしたりあやふやにしやすい内容がめちゃめちゃ載ってます。あくまで補助テキストとして、暇な時に読み物として読んだり、わからない時に調べたりして使いましょう。問題集形式になっていますが、わざわざ解いて丸付けして〜とかはしなくてもいいような気はします。(記述問題が出る大学志望でそれの対策とかでない限り）</p>

        <p>以上がオススメ参考書でした。本当はもっと紹介したい内容があるんですが、鋭意製作中です。</p>
    </main>
    <!--フッター-->
    <footer>     
        <div class="gotop">
            <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>

        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
