<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>お問い合わせ|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero contact">お問い合わせ</h1>
    <!--メイン-->
    <main>
        <form action="/send" method="POST">        
            <p>
                <label for="kind">お問い合わせの種類</label><br>
                <select name="kind" id="kind">
                    <option value="1">ご要望</option>
                    <option value="2">参考書や勉強法について</option>
                    <option value="3">その他</option>
                </select>
            </p>
            <p>
                当サイトに訪れるのは初めてですか？<br>
                <label><input type="radio" name="first" id="yes" value="yes" checked>はい</label><br>
                <label><input type="radio" name="first" id="no" value="no" >いいえ</label><br>
            </p>
            <p>当サイトをお知りになったきっかけは？<br>
            <label><input type="checkbox" name="how" value="friend">自分で調べてたどり着いた</label><br>
            <label><input type="checkbox" name="how" value="magazine">広告を見て</label><br>
            </p>
            <p>
                <label for="subject">お問い合わせの件名</label><br>
                <input type="text" name="subject" placeholder="タイトル" id="subject">
            </p>
            <p>
                <label for="message">お問い合わせの具体的な内容</label><br>
                <textarea name="message"></textarea>
            </p>
            <p class="submit">
                <input type="submit" value="送信">
            </p>
        </form>
        

    </main>
    <!--フッター-->
    <footer>     
        <div class="gotop">
            <div class="gotop">
                <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>
            </div>
        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
