<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>英語|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero english">英語</h1>
    <!--メイン-->
    <main>
        <h1>英語おすすめ参考書</h1>
        <P>タイトルの通り本記事は英語のおすすめ参考書について紹介します。他の記事では理系向けでしたが、本記事は文系の人でも参考になると思います。数学とか理系科目についてさんざん語っておいてあれですが、大学受験において一番頑張った方がいい科目は英語です。これは配点が高いのとコツコツやれば多くの人ができるようになりやすいという再現性が高いのと点数が一番安定するからです。</P>
        <h2>まず</h2>
        <p>まず、英語は単語ゲーです。もちろん文法も大事ですが、極論単語が全てわかれば単語をつなげて訳せばなんなく言ってることがわかるじゃないですか。そういうことです。あとは個人的には量ゲーだと思います。まあ他の科目も量ゲーと言えばそうなんですが、英語は多少勉強のやり方が変でも量こなせばごり押しで「なんとかなり」やすい科目だと思います。</p>

        <h2>DUO3.0</h2>
        <p><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbookfan%2Fbk-4900790052%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbookfan%2Fi%2F10801330%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/bookfan/cabinet/00574/bk4900790052.jpg?_ex=128x128" alt="" style="border: none;" /><br>Duo 3.0 The most frequently used words 1600 and idioms 1000 in contemporary English／鈴木陽一【1000円以上送料無料】</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></p>
        <p>この本は単語帳なんですが、普通の単語が並んでいるだけの単語帳ではありません。各単語を英語ができる偉い人が考えた例文の中で覚えようというスタンスです。なぜこの本をおすすめするかというと、この例文がめちゃめちゃいいからです。CDがついているのでそれをスマホにでも入れて電車の時間とかこの例文を聴きまくり、声に出しまくり丸暗記してください。特に理系の人は丸暗記？と思うかもしれませんが、こと英語に関しては「丸暗記」がめちゃめちゃ効果的です。この例文を丸暗記することで、単語を覚えられるだけでなく、文法やリスニング、英作文対策にもなります。マジで丸暗記する勢いでやってください。（文章が面白いので意外と行けると思います。）ちなみに筆者は未だに覚えている例文があります笑</p>

        <h2>余談　英検理論</h2>
        <p>これは高1高2生とか向けの話なんですが、時間がある人ぜひ英検を取りましょう。（受験生も秋以降とかでなければやってもいいかもしれません。）まずは2級を取って、できれば準1級に挑戦しましょう。準1級は結構難しいんですが、英語は単語ゲーの法則に則りパス単を丸暗記すればいい勝負できると思います。準1級取れれば大学受験の英語では基本無双できると思うのでおすすめです。高１とかだとモチベ的になかなか自分で勉強できないと思います。コツは強制的に申し込んでしまうことです。申し込んでしまえば勉強せざるを得なくなります。このように資格試験などに無理やり申し込んで強制的に勉強する方法を筆者は「英検理論」と呼んでいます。</p>


        <p>以上がDUO大好きおじさんによる英語のオススメ参考書でした。本当はもっと紹介したい内容があるんですが、鋭意製作中です。</p>
    </main>
    <!--フッター-->
    <footer>     
        <div class="gotop">
            <div class="gotop">
                <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>
            </div>
        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
