<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>現代文|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero japanese">現代文</h1>
    <!--メイン-->
    <main>
        <h1>現代文おすすめ参考書</h1>
        <P>本記事では現代文のおすすめ参考書について紹介したいと思います。ちなみに筆者はもともと現代文が得意だったのであまり参考にならないかもしれません（すみません）。ただ、ここでは最低限誰でもやるべきものを紹介しています。</P>
        <h2>現代文キーワード読解</h2>
        <P><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F14139384%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbook%2Fi%2F17936385%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0429/9784865310429.jpg?_ex=128x128" alt="" style="border: none;" /><br>現代文キーワード読解［改訂版］ [ Z会出版編集部 ]</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></P>
        <p>これは現代文の単語帳です。現代文に出てくる単語って意外と日常生活で使わなかったりして知らないことが結構あるんですよね。例えば、ポストモダンって知ってますか？知らない人はやる価値あると思います。これをやれば現代文めっちゃできるようになるとかはないと思いますが、ほぼ全員がやるべきだと思います。多分なんですが、現代文のできるできないって知識の差が割とあると思ってます。語彙もそうですし、よく出る論点を知っているかとかが結構大事なんじゃないかと。</p>

        <h2>余談　倫政</h2>
        <P>理系で社会何使うか決めてない人は倫政がおすすめです。倫理で昔の哲学者の勉強をするのですが、そこで学ぶ思想が結構現代文で出てきます。なので現代文とシナジーあるのでおすすめです。あと普通に面白いです。</P>

        <p>以上がオススメ参考書でした。本当はもっと紹介したい内容があるんですが、鋭意製作中です。</p>
    </main>
    <!--フッター-->
    <footer>     
        <div class="gotop">
            <div class="gotop">
                <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>
            </div>
        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
