<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>数学|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero math">数学</h1>
    <!--メイン-->
    <main>
        <h1>数弱から普通くらいにする方法</h1>
        <p>こんにちは。タイトルの通り数弱から普通にするためにオススメの参考書について紹介します。タイトルが弱気すぎると思う人もいるかもしれませんが、こういう「なんとかする」方法が一番需要あるし、なかなかないと思うので。本記事では大学受験理系で難関校(旧帝以上とか)を狙っている人で、一般的には数学は得意な方だけど旧帝以上受験生の理系に比べると数弱といったレベル感の人に一番刺さると思います。青チャートは暗記して典型問題は解けるんだけど、応用問題・初見問題になるとできないって人対象です。（結構そういう人いるんじゃないかな？）</p>
        <h2>まず</h2>
        <p>まず、まだ青チャートレベルを固められてない人はまずはこっちを固めましょう。青チャートみたいな本ならなんでもいいと思います。（個人的には１対１が好きです。青チャートは量が多くてだるいので。）丸暗記してください。で、丸暗記するにあたり毎回毎回書いて解き直す必要はないです。単純に時間がないのとだるいと思います。ですが実際に解き直さないと理解してるつもりになってしまいます。なので「見て解く」で周回しまくる→たまに解き直すという形で進めましょう。コツはすぐに次へ進むことです。完璧でなくても良いので8割くらい頭に入ったら次へ進みましょう。抜けがあるなと思ったらまた戻ってくれば良いので。(というか適宜戻ってください)</p>
        
        <h2>世界一わかりやすい阪大の理系数学/世界一わかりやすい京大の理系数学</h2>
        <p><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F17329847%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbook%2Fi%2F20808233%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/6283/9784046056283_1_2.jpg?_ex=128x128" alt="" style="border: none;" /><br>改訂版　世界一わかりやすい　阪大の理系数学　合格講座 人気大学過去問シリーズ [ 池谷　哲 ]</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></p>

        <p>本記事で一番推したい参考書です。この参考書を紹介したがためにこのサイトを開設したまであります。この先生が書く参考書めちゃめちゃわかりやすいんですよね。（この先生京大出身なんですが二年間浪人して苦労したらしいので、割と我々凡人の気持ちがわかるみたいです。）青チャートとか基本問題は固めたんだけど、初見問題となると解けないっていう人に結構刺さるんじゃないかなあと思います。初見問題を解けない原因の一つに初見問題へのアプローチの仕方の知識が不足してるっていうのが多分結構大きいです。この本は数学の初見問題へのアプローチの仕方が体系的に整理されて書かれてる本です。例えばみなさん、整数問題のアプローチ4つ言えますか？立体図形のアプローチ4つ言えますか？4つじゃないにしてもパッといくつか出てこない人はこの本やる価値はあるじゃないかと思います。初見問題を解くとき、こういう感じで問題ごとにある程度アプローチが決まっています。で、得意な人は自然とアプローチが頭の中で整理されているみたいです。そういうアプローチが学べるのがこの本です。もちろんこのアプローチだけで全ての問題が解けるようになるわけではないですが、別にそこまで解けるようになる必要ないですからね。（それより他の科目頑張りましょう。よく言われてることですが。）</p>

        <p>僕自身、初見問題になると全然解けなくてそもそも手が止まってしまうっていう感じでした。数学が得意な人が初見問題をどのようなアプローチで切り崩しているのか知りたいと思って本屋やネットを探しまくってこの本に辿り着きました。阪大の方が難易度が簡単めでオーソドックスな問題が多いので個人的にはおすすめです。京大の方は京大特有の癖のある問題が割とあるんですが、それはそれで勉強にはなる（特にベクトルとかは勉強になる）のでどっちもおすすめです。阪大・京大って書かれていて難しそうに思うかもしれませんが、全然青チャートの次くらいにやってしまえると思いますし、やるのがオススメです。</p>
        
        
        <h2>ハイレベル理系数学の完全攻略</h2>

        <p>この本も初見問題へのアプローチが載ってる本です。これも上二冊よりは具体性の高い解法が乗ってるイメージです（伝われ）。この本、駿台の有名な先生が書いた本なんですが、その人が問題見た時にどう考えてるのかがわかるので非常にオススメです。あと、この本も難しそうなタイトルしてますが難易度が丁度良いです。上二冊の次くらいにやるのがオススメです。
        </p>

        <h2>真・解法への道！</h2>
        <p><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fgakusan%2F9784887422803%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fgakusan%2Fi%2F10060180%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/gakusan/cabinet/book_image7/9784887422803.jpg?_ex=128x128" alt="" style="border: none;" /><br>真・解法への道! ［第2版］ 数学IAIIBC（ベクトル）</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></p>
        <p>この本も最初の二冊と同様、初見問題へのアプローチが乗ってる本です。ただ、こちらも最初の二冊より具体性が高い解法が載ってるイメージです(伝われ)。筆者が受験生の時は1A2Bしかなくて最近3も出たみたいです(うらやましい)。ちなみにめっちゃ分厚くて筆者は全て解いてはいません。（余談ですが受験では１冊を完ぺきにと言われがちですが、別にその本から得たい知識が得られれば完ぺきにする必要ないと思います。多分。）辞書的に使ったり、各章の最初に説明とその章の解法まとめが載ってるのでそこを読んだりといった感じで使ってました。</p>

        <p>以上がオススメ参考書でした。こいつらをやりこんだら普通くらいにはなれると思います。多分。あとはこれ以外にも模試とか過去問とか解きまくったりしましょう。</p>


    </main>
    <!--メインここまで-->
    <!--フッターここから--->
    <footer>
        <div class="gotop">
            <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>
        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
