<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>物理|あああ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="top">
    <!--ヘッダー-->
    <header class="header">
        <div class="logo">
            <p>あああ</p>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/math">数学</a></li>
                <li><a href="/physics">物理</a></li>
                <li><a href="/chemistry">化学</a></li>
                <li><a href="/english">英語</a></li>
                <li><a href="/japanese">現代文</a></li>
                <li><a href="/contact">お問い合わせ</a></li>
            </ul>
        </nav>
    </header>
    <!--ヘッダーここまで-->
    <h1 class="hero physics">物理</h1>
    <!--メイン-->
    <main>
        <h1>物理のおすすめ参考書</h1>

        <p>こんにちは。タイトルの通り物理のオススメ参考書を紹介します。本記事は数学と同様、ある程度(旧帝とか)以上を目指してる理系の人(そこそこできる人)向けなのでご容赦ください。物理やってるけど、なんかふわふわしてるんだよな～とか思ってる人には一番読んでもらいたいです。</p>
        <h2>鉄緑会　物理攻略のヒント</h2>
        <p><a href="//af.moshimo.com/af/c/click?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616&amp;url=https%3A%2F%2Fitem.rakuten.co.jp%2Fbook%2F5858771%2F&amp;m=http%3A%2F%2Fm.rakuten.co.jp%2Fbook%2Fi%2F13048873%2F" rel="nofollow" referrerpolicy="no-referrer-when-downgrade"><img src="//thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/3846/9784046213846_1_2.jpg?_ex=128x128" alt="" style="border: none;" /><br>鉄緑会物理攻略のヒント よくある質問と間違い例 [ 鉄緑会物理科 ]</a><img src="//i.moshimo.com/af/i/impression?a_id=4980312&amp;p_id=54&amp;pc_id=54&amp;pl_id=616" alt="" loading="lazy" width="1" height="1" style="border: 0px;"></p>
        <p>鉄緑会と聞いて難しそうと思った人もいるかもしれませんが、この本で扱ってるのは物理をやってる人があやふやにしがちな素朴な疑問に対する答えです。例えば、距離と変位の違いって説明できますか？重力と万有引力の違いって説明できますか？ギクッとした人は読む価値あると思います。全て読む必要な全然ないので気になった項目だけ読むとかでいいと思います。
        あくまで補助テキストとして使うものだと思うんですが、物理の理解を深めるのにめちゃめちゃオススメです。個人的には理科（理系科目）ってこういう内容の理解を深める本は意外と大事だと思います。（数学にもこういう本あるんですかね？知ってる人がいたら教えてください。）暇な時に目を通したり、問題集とかやってて疑問が生じた時などに参照しましょう。あと前書きにも載ってるんですが、バイトとかで物理の講師をやる人も使えると思います。</p>

        <p>以上が物理のおすすめ参考書です。もう少し内容を増やしたいんですが、まだ追いついてません。しばらくお待ちください。</p>
    </main>
    <!--フッター-->
    <footer>     
        <div class="gotop">
            <div class="gotop">
                <a href="#top"><img src="{{ url_for('static', filename='images/gotop.svg') }}" alt="ページトップへ戻る"></a>
            </div>
        </div>
        <p class="copyright">&copy; あああ</p>
    </footer>
    <!--フッターここまで-->

</body>
</html>
